body{
	background-color:rgb(240,240,240);
	font-family:arial;
}

#login{
	float:left;
	width:50%;
	border-bottom-style:solid;
	border-bottom-color:rgb(60,60,60);
}

#registration{
	width:50%;
	float:left;

}
#change{
	width:75%;
	margin:auto;
	margin-top:40px;
	margin-bottom:40px;
	font-size:40px;
	float:none;
}


#main{
	float:none;
	width:750px;
	height:475px;
	border-style:solid;
	border-width:1.5px;
	margin:auto;
	margin-top:5%;
	box-sizing:border-box;
	text-align:center;
	padding-top:10px;
	font-family:arial;
	font-size:25px;
	border-color:rgb(150,150,150);
	background-color:white;
	border-radius:75px;
}

input[type=text], input[type=password]{
	height:40px;
	width:350px;
	font-size:20px;
}

input[type=submit]{
	font-size:30px;
	background-color:rgb(130,130,130);
	width:350px;
	border-style:solid;
	border-color:rgb(130,130,130);
	border-radius:30px;
	height:50px;
}

#test{
	position: absolute;
	background-color:rgb(180,180,180);
	width:300px;
	margin-left:225px;
	padding:0px;
	font-size:14px;
	border-radius:5px;
	text-align:left;
	visibility:hidden;
}

img{
	width:25px;
	height:25px;
	margin:0px;
	padding:0px;
}

a{
	color:grey;
	text-decoration:none;
}

#back{
	margin-top:60px;
	margin-right:15px;
	text-align:right;

}
